
* { 
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  list-style-type: none;
}
p,li,a{
    font: 400 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 18px;
}
h5{
    color: red;
    font: 600 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px 10px;
}
h6 {
    color: red;
    font: 600 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
}
.book-wrapper {
    max-width: 1030px;
}
.background{
    background-color: rgba(69, 72, 72, .35);
    background-image: url(../../images/background.png);
    background-size: 3px;
    background-repeat: repeat;
    width: 100%;    
    min-height: 100vh;
    padding-right: 30px;
    display: flex;
}
.book-wrapper{
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../../images/book-bg.png) repeat-y top ;
    background-size: 100% auto;
    padding-right: 20px;
}
header {
    width: 990px;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background-image: url(../../images/Background_Head.svg);
    background-size: 100%;
    height: 155px;
    .logo {
        position: absolute;
        top: 34px;
        }
    .links {
        display: flex;
        gap: 15px;
        position: absolute;
        top: 34px;
        right: 18px;
    img {
        width: 12px;
        height: 12px;
    }
    }
    }
.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

.text {padding-top: 110px;
    p {
    font: 400 18px 'Libre Franklin', sans-serif;
    color: #fff;
}
}
h5 { 
    display: inline-block;
    background: #fff;
    box-shadow: inset 0 0 3px rgba($color: #000000, $alpha: 1.0);
}
.date {
    padding-top: 110px;
    margin-left: -11px;
}
}
main {
    display: flex;
    flex-direction: row;
    padding-right: 31px;
aside  {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top:30px ;
    width: 27%;
        .menu {
        margin: 0 auto;
        background: rgb(250, 249, 249);
        padding: 25px;
        width: 200px;
        border: 1px solid rgba(192, 192, 192, 0.9);
        border-radius: 8px;
        background-image: url(../../images/Menu_Red.svg);
        background-repeat: repeat-y;
        ul {
            text-align: right;
            padding-right: 25px;
            li {
                padding: 7px;
                position: relative;
                a{
                    color: white;
                    font: 400 13px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-decoration: none;
                }
                a.active::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: -23px;
                    border-top: 10px solid transparent;
                    border-right: 12px solid rgb(250, 249, 249);
                    border-bottom: 10px solid transparent;
                }
                a.active::before {
                    content: '«';
                    color: red;
                    position: absolute;
                    right: -31px;
                    top: 8px;   
                }
                a:hover:after {
                    content: '';
                    position: absolute;
                    right: -23px;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-right: 12px solid rgb(250, 249, 249);
                    border-bottom: 10px solid transparent;
                }
                a:hover:before {
                    content: '«';
                    color: red;
                    position: absolute;
                    right: -31px;
                    top: 8px;   
                }
            }
        }
    }
    .websites {
        margin: 0px auto;
        background: rgb(250, 249, 249);
        width: 200px;
        padding: 10px;
        border: 1px solid rgba(192, 192, 192, 0.9);
        border-radius: 8px;
        text-align: right;
        padding-right: 20px;
        ul {
            padding:10px;
        }
        li {
            text-decoration: underline;
            color: rgb(77, 77, 112);
            margin: 9px 0;
        }
        li:hover {
            cursor: pointer;
            text-decoration: none;
        }

    }
    .contactinfo {
        margin: 0px auto;
        background: rgb(250, 249, 249);
        width: 200px;
        padding: 20px;
        border: 1px solid rgba(192, 192, 192, 0.9);
        border-radius: 8px;  
        text-align: right; 
        padding-right: 30px;
        p {
            padding-bottom: 30px;
            a{
                text-decoration: none;
                color: black;
            }
        }
        p:last-child {
            padding-bottom: 10px;
        }

    }
}
.center {
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .welcome {
        margin: 0 auto;
        background: rgb(209, 208, 208);
        width: 425px;
        padding: 10px;
        border: 1px solid rgba(192, 192, 192, 0.9);
        border-radius: 8px;
        img{
            float: left;
            padding: 10px;
        } 
        p{
            padding: 7px;
        }
    }
    .quotations {
        padding: 0px 30px 0px 30px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
            padding: 10px 0;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 10px;
        }
        a {
            color: red;
        }
        a:hover {
            text-decoration: none;
        }
        a:before {
            content: '» ';
        }
        div:last-child {
            padding-bottom: 40px;
        }
    }
}    
.rightside {
    padding-top: 30px ;
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logos {
        padding: 20px;
        text-align: left;
        border: 1px solid rgba(192, 192, 192, 0.9);
        border-radius: 8px;
        background: rgb(230, 228, 228);
        h6 {
            padding: 3px 0px 7px 0px;
        }
        h6:first-child {
            padding-top: 0px;
        }
        a{
            font: 500 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: red;
        }
    }
    .news {
        display: flex;
        flex-direction: column;
        gap: 1px;
        div {
            background: rgb(230, 228, 228);
            border: 1px solid rgba(192, 192, 192, 0.9);
            border-radius: 8px;
            padding: 20px;
        }
    }
}
}

footer{
    padding: 30px 0;
    background: url(../../images/book-line.png) no-repeat top;
    background-size: 100% auto;
    margin-right: -20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(103, 103, 151);
    .copyright {
        width: 27%;
        padding: 20px;
    }
    .navigation {
        width: 73%;
        padding: 20px;
        display: flex;
        justify-content: space-between; 
         ul li {
             display: inline;
             padding: 0 4px;
             border-right: 1px solid rgb(103, 103, 151);
             a{
                 text-decoration: none;
                 color: rgb(103, 103, 151);
                }
                 a:hover {
                     text-decoration:underline ;
                 }
             }
             ul li:last-child {
                 border: none;
             }
         }
    }

